doctype 5
html(lang="en")
  head
    title mocha-server
    link(rel="stylesheet", href="mocha.css")
  body
    #mocha
    script(src='mocha.js')
    script
      (function() {
        ignoreLeaks = #{ignoreLeaks};

        mocha.bail(#{bail});

        if(ignoreLeaks) {
          mocha.ignoreLeaks();
        }

        mocha.setup("#{ui}");
      })();
    each file in scriptOrder
      script(src=file)
    script
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }
