doctype 5
html(lang="en")
  head
    title 'mocha-server'
    link(rel="stylesheet", href="mocha.css")
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    #mocha
    script(src='mocha.js')
    script
      mocha.run()
