doctype 5
html(lang="en")
  head
    title 'mocha-server'
    link(rel="stylesheet", href="mocha.css")
  body
    #mocha
    script(src='mocha.js')
    script
      mocha.bail(#{bail});
      mocha.ignoreLeaks();
      mocha.setup("#{ui}");
    each file in scriptOrder
      script(src=file)
    script
      mocha.run();
